# Logs
logs
*.log
npm-debug.log*

# Ignore node modules
/node_modules
/bower_components

.idea/

# Ignore coverage files
/coverage

# Ignore .env file for security reasons
.env
.docker-env

# Ignore log files
logfile.log
npm-debug.log
