doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Music-io
        link(rel="stylesheet", href="https://meyerweb.com/eric/tools/css/reset/reset.css")

        //- inject:css
        link(rel="stylesheet", href="/build/music-io-shared-server.css")
        //- endinject

body(data-ng-app='Artists')
    artists

    //- inject:js
    script(src="/build/music-io-shared-server-lib.js")
    script(src="/build/music-io-shared-server.js")
    //- endinject


