.signup {
	margin: 0 auto;
	width: 30%;

	p {
		text-align: center;
	}

	.signup-form {
		input {
			font-family: Circular, Helvetica, Arial, sans-serif;
			font-size: .9375em;
			line-height: normal;
			float: left;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			background-color: #fff;
			color: #1c1c1f;
			border: 1px solid #dfe0e6;
			margin-top: 20px;
			padding: 1em .75em .6875em;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		.submit input {
			border-bottom-left-radius: 500px;
			border-bottom-right-radius: 500px;
			border-top-left-radius: 500px;
			border-top-right-radius: 500px;
			background-color: #4CAF50;
			font-size: 24px;
			width: 100%;
			border: none;
			text-align: center;
			padding: 7px 35px;
			color: #fff;
		}

		.submit input:focus{
			box-shadow: 0 0 1pt 1pt black;
			outline: none;
		}

		.submit input:hover {
			background-color: #63B566;
			border: none;
			cursor: pointer;
			box-shadow: 0 0 1pt 1pt black;
			outline: none;
		}
	}

}