body {
  background-color: rgba(174,194,202,.2);
  margin: 0;
  text-align: center;
}

section button:hover {
  background-color: #4CAF50;
  color: white;
}

header {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  float: left;
  background-color: #404040;
  color: rgba(160, 195, 210, 1);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

header a {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(160, 195, 210, 1);
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

header a:hover{
  text-decoration: none;
  color: rgba(160, 195, 210, .8);
}

header ul {
  float: right;
}
header ul li {
  list-style-type: none;
  width: 100px;
  float: left;
  box-sizing:border-box;
}

header img {
  margin-left: 150px;
  float: left;
  padding: 16px;
  width: 80px;
}


input {
  display: block;
  padding: 1% 1%;
  margin-top: 20px;
  width: 98%;
  box-sizing: border-box;
  background-color: #F6FDFF;
  border: 2px solid #626262
}

.submit input {
  background-color: #4CAF50;
  font-size: 32px;
  width: 100%;
  border: none;
  text-align: center;
}

.submit input:hover {
  background-color: #63B566;
  border: none;
  cursor: pointer;
}

.music-io-form input {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  float: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-facebook {
  padding: 7px 35px;
  margin-top: 4%;
  background-color: rgb(58, 97, 178);
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom: 0 solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: normal;
  display: inline-block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}