body {
  background-color: #626262;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section button:hover {
  background-color: #4CAF50;
  color: white;
}

form {
  width: 40%;
  float: left;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  text-align: center;
}

form input {
  padding: 15px 32px;
  margin: 15px;
  width: 100%;
  float: left;
  display: block;
  border: 2px solid #626262;
  background-color: #292323;
  color: #E6E6E6;
  font-size: 16px;
}

form input::placeholder {
  font-size: 18px;
}

form input[type=submit] {
  background-color: #4CAF50;
  font-size: 32px;
  width: 100%;
  color: white;
  border: none;
}

form input[type=submit]:hover {
  background-color: #63B566;
  color: white;
  border: none;
  cursor: pointer;
}



header {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  float: left;
  background-color: rgba(0,0,0,.1);
  color: rgba(160, 195, 210, 1);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

header a {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(160, 195, 210, 1);
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

header a:hover{
  text-decoration: none;
  color: rgba(160, 195, 210, .8);
}

header ul {
  float: right;
}
header ul li {
  list-style-type: none;
  width: 100px;
  float: left;
  box-sizing:border-box;
}

header img {
  margin-left: 150px;
  float: left;
  padding: 16px;
  width: 130px;
}

.btn-facebook {
  background-color: rgb(58, 97, 178);
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom: 0 solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 35px;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
  letter-spacing: 1.2px;
  min-width: 130px;
  text-transform: uppercase;
  white-space: normal;
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  float: left;
}