.music-header
    img(src='/public/assets/images/logo.png', ng-click="$ctrl.home()")
    ul
        div(ng-show="$ctrl.isLogged()")
            li Hola {{$ctrl.getFirstName()}}
            li
                a(ng-click="$ctrl.logout()") Salir

        div(ng-show="!$ctrl.isLogged()")
            li
                a(ng-click="$ctrl.signUp()") Registrarme
            li
                a(ng-click="$ctrl.login()") Entrar