.edit-artist
    h2 Editar artista
    form(action='')
        input(type='name', placeholder='Nombre', ng-model='$ctrl.artist.name')
        input(type='duration', placeholder='Descripción', ng-model='$ctrl.artist.description')
        input(type='button', value='Editar', ng-click='$ctrl.editArtist()')