music-header

.albums
    h1 Albums
    .loader(ng-if='!$ctrl.loaded')
    .content(ng-if='$ctrl.show==="list"')
        .albums-list
            ul
                li(ng-repeat="album in $ctrl.albums")
                    a(href='#' ng-click='$ctrl.editAlbum(album)') {{album.id}} {{album.name}}
                    .delete-album
                        a(href='#' ng-click='$ctrl.deleteAlbum(album)') X
        .add-album
            form(action='')
                p Agregar
                input(type='name', placeholder='Nombre', ng-model='$ctrl.newAlbum.name')
                input(type='name', placeholder='Género', ng-model='$ctrl.newAlbum.genre')
                input(type='date', placeholder='Fecha', ng-model='$ctrl.newAlbum.release_date')
                .artist-dropdown.button(ng-dropdown-multiselect='', translation-texts='translations', options='artistData', selected-model='artistModel', extra-settings='artistSettings')
                input(type='button', value='Agregar', ng-click='$ctrl.addAlbum()')

    edit-album(album='$ctrl.albumToEdit', ng-if='$ctrl.show==="edit"')