.artists {
  width: 90%;
  max-width: 1080px;
  display: block;
  margin: auto;

  .p {
    font-size: 20px;
  }
  .circle {
    border-radius: 50%;
  }
  h1 {
    text-align: left;
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
  }

  form {
    width: 100%;
  }

  form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }

  form p {
    font-family: roboto;
    margin-bottom: 10px;
  }
  form.ng-pristine.ng-valid {
    float: right;
  }
  input[type="button"] {
    width: 80px;
    background-color: lightgray;
    color: dimgrey;
    border: 0;
    border-bottom: 3px solid rgba(0,0,0,0.2);
  }

  .loader {
    margin-top: 50%;
    margin-left: calc(50% - 120px);
    float: left;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 1s linear infinite;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: rgb(0, 13, 210);
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: none;
      color: rgba(160, 195, 210, .8);
    }
  }

  .delete-artist {
    float: right;
  }

  .add-artist {
    display: inline-block;
    width: 37%;
    margin-left: 3%;
    vertical-align: top;
  }

  .artists-list {
    width: 60%;
    display: inline-block;
  }

  li {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: -1px;
  }

  .edit-artist{
    color: #00B7FF;
  }

  .edit-artist:hover {
    text-decoration:none;
  }

}