.login {
	margin: 0 auto;
	width: 40%;

	p {
		text-align: center;
	}

	.btn-facebook {
		margin: 30px auto;
		width: 100%;
		text-align: center;
		padding: 7px 35px;
		background-color: rgb(58, 97, 178);
		border-bottom-left-radius: 500px;
		border-bottom-right-radius: 500px;
		border-top-left-radius: 500px;
		border-top-right-radius: 500px;
		border-bottom: 0 solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
		cursor: pointer;
		color: rgb(255, 255, 255);
		font-family: Circular, Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		transition: background-color .15s ease,border-color .15s ease,color .15s ease;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		white-space: normal;
		display: inline-block;
	}

	input {
		font-family: Circular, Helvetica, Arial, sans-serif;
		font-size: .9375em;
		line-height: normal;
		float: left;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		background-color: #fff;
		color: #1c1c1f;
		border: 1px solid #dfe0e6;
		margin-top: 20px;
		padding: 1em .75em .6875em;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
	.submit {
		border-bottom-left-radius: 500px;
		border-bottom-right-radius: 500px;
		border-top-left-radius: 500px;
		border-top-right-radius: 500px;
	}

	.submit input {
		border-bottom-left-radius: 500px;
		border-bottom-right-radius: 500px;
		border-top-left-radius: 500px;
		border-top-right-radius: 500px;
		background-color: #4CAF50;
		font-size: 24px;
		width: 100%;
		border: none;
		text-align: center;
		padding: 7px 35px;
		color: #fff;
	}

	.submit input:hover {
		background-color: #63B566;
		border: none;
		cursor: pointer;
		box-shadow: 0 0 1pt 1pt black;
		outline: none;
	}

	.submit input:focus{
		box-shadow: 0 0 1pt 1pt black;
		outline: none;
	}

	.error {
		background-color: red;
		float: left;
		line-height: 1;
	}

	.error {
		background-color: red;
		float: left;
		line-height: 1;
	}
}